<?xml version="1.0"?>
<launch>

    <arg name="headless" default="false" doc="Should the gazebo GUI be launched?" />
    <arg name="world" default="worlds/empty.world" doc="Filename to a SDF World for gazebo to use" />

    <!-- Launches Gazebo with empty environment -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world)"/>
        <arg name="gui" value="$(eval not arg('headless'))"/>
        <!-- Always start in paused mode, and only unpause when spawning the model -->
        <arg name="paused" value="true"/>
        <arg name="use_sim_time" value="true"/>
    </include>

    <!-- Spawns robot URDF model to Gazebo -->
    <param name="robot_description" command="xacro $(find rrbot_description)/urdf/rrbot.xacro"/>
    <node name="rrbot_model_spawner" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model rrbot -unpause"/>

    <!-- Start controller -->
    <rosparam file="$(find setup_tutorial)/config/control.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/rrbot" args="joint1_position_controller joint2_position_controller joint_state_controller"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/rrbot/joint_states" />
    </node>


</launch>